$dark-color: #212121;
$active-color: #ff4081;

body {
	background-color: white;
}

#logo {
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

nav {
		//Hide Nav on scroll down
	.nav-wrapper.headroom--unpinned {
		top: -64px;
		// background: url('../assets/transparent.svg') center / cover;
	}

	.nav-wrapper.headroom--pinned {
		background-color: #fff;
	}

	.nav-wrapper.headroom--top {
	 	//background: url('../assets/transparent.svg') center / cover;
	 	background-color: transparent;
	}
}

.navbar-fixed {
	height: 64px;

	.nav-wrapper {
		z-index: 5;
		width: 100%;
		padding: 0 10%;
		margin: 0 auto;
		top: 0;
		transition: all 1s ease;

		ul.right {
			a {
				padding: 0;
				margin: 0 50px;
				color: $dark-color;
			  position: relative;
			  letter-spacing: 2px;
			}
			a:last-child {
				margin-right: 0;
			}
			a:before {
			  content: "";
			  position: absolute;
			  width: 100%;
			  height: 2px;
			  bottom: 15px;
			  left: 0;
			  background-color: $active-color;
			  visibility: hidden;
			  transform: scaleX(0);
			  transition: all 0.3s ease-in-out 0s;
			}
			a:hover:before {
			  visibility: visible;
			  transform: scaleX(1);
			}
			a:hover {
				background-color: transparent;
			}
		}

		.headroom--unpinned {
			top: -64px;
			// background: url('../assets/transparent.svg') center / cover;
		}

		.headroom--pinned {
			background-color: #fff;
		}

		.headroom--top {
		 	//background: url('../assets/transparent.svg') center / cover;
		 	background-color: transparent;
		}
	}
}


/************************ ARTICLE SNIPPET ON MAIN PAGE ************************/

article.post {
	margin-bottom: 50px;
	background-color: #eee;
}

#blog-content {
	transition: width 500ms;
	width: 960px;
	margin: 100px auto 0;

	a {
		color: inherit;
	}

	//Featured image
	.post-thumbnail {
		width: 100%;
		height: 500px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.entry-header, .entry-date, .entry-content, .entry-footer {
		width: 80%;
		margin: 0 auto;
	}

	.entry-content {
		padding-bottom: 1.78rem;
	}

	.entry-title {
		text-align: center;
		font-size: 2em;
		margin-bottom: 2%;
		text-transform: uppercase;
	}

	.entry-date {
		margin-bottom: 5%;
		text-align: center;
	}

	.more-link {
		margin-top: 5% 0;
		text-align: center;
	}
	
	//Post images
	// p>img {
	// 	width: 80%;
	// 	margin: 0 auto;
	// 	display: block;
	// }
}


@media (max-width: 960px) {

  #blog-content {
  	width: 90%;

  	.entry-header, .entry-date, .entry-content, .entry-footer {
	  	width: 90%;
	  }
  }
}




